{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>{{jobsCount}}+ Jobs Available</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<div class="row justify-content-center my-5">
    <div class="col-lg-5">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input class="boxed-btn3 w-100" type="submit" value="signup">
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}


    </div>
</div>

{% endblock %}